*{
  margin: 0px;
  padding: 0px;
}

.container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 1rem;$ brew install gcc
$ ls -l /usr/local/bin/g++-9 
lrwxr-xr-x  1 kusakai  admin  29  9 21 12:33 /usr/local/bin/g++-9 -> ../Cellar/gcc/9.2.0/bin/g++-9
$ ln -s /usr/local/bin/g++-9 /usr/local/bin/g++
$ which g++
/usr/local/bin/g++
$ ls -l /usr/local/bin/g++
lrwxr-xr-x  1 kusakai  admin  20  9 21 12:24 /usr/local/bin/g++ -> /usr/local/bin/g++-9
}

.hlefttitle{
  margin-bottom: none;
}


header{
  width: 100%;
  display: flex;
  height: 1rem;
  align-items: center;
  background-repeat: no-repeat;
  color: #B0B0B0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.header-left>img{
    width: 26%;
    padding-left: 40px;
}

.header-left{
  font-size: 12px;
  padding-left: 2rem;
  list-style: none;
}
.top{
  border-bottom: 1px solid rgb(10,180,222);
  color: black;
}
.ex4{
  color: black;
}


.dl{
  background: rgb(10,180,222);
  color: white;

}


nav{
  margin-left: auto;
  padding-right: 40px;
  vertical-align: middle;
}

.menu-item{
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

/* ここまでヘッダー */

.topimg{
  text-align: center;
  background-image: url(BAimg/saitopimg.jpg);
  background-size: cover;
width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: gainsboro;
}

.topimg>h1{
letter-spacing: 4px;
color: rgb(255, 255, 255);
line-height: 70px;

}
.topimg1{
 height: 55px;
}
.sec1{
 text-align: center;
margin: 50px;
}

.title{
  color: rgb(10,180,222);
  letter-spacing: 8px;
  font-size: 30px;
  font-family: Hiragino Kaku Gothic Pro;
  text-align: center;
  padding: 40px 0px;
}

.sec1>p{
color:rgb(132,132,132);
padding: 40px;
font-size: 14px;
}

.sec1>img{
  width: 100%;
}
/* ここからsec内容 */
.sec2>h2{
  color: rgb(10,180,222);
  letter-spacing: 10px;
  font-size: 30px;
  text-align: center;


}
.sec2{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background-color: rgb(245,245,245);
  width: 100%;
}

.ex1{
  display: block;
  text-align: center;
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.ex1>img{
  width: 100%;
}

.ex0{
  background-color: white;
  margin-bottom: 30px;
}

dt{
padding: 20px;
}
dt>img{
  width: 100%;
}
.ex0>dd{
color:rgb(132,132,132);
font-size: 14px;
padding: 10px;
}
#title2{
  background-color: rgb(245,245,245);
  padding-top: 30px;
}

/* ここまでsec2 */
/* ここからsec3 */

.sec3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentsA{
 width: 16rem;
 height: 8rem;
 display: block;
 border: solid 1px rgb(10,180,222);
 margin: 20px;
 padding: 6px 32px 32px 9px;
 font-size: 10px;
color:rgb(132,132,132);
}
.contentsA>li{
  list-style-type: none;
  padding-top: 1px;
}


 .contentsA>img{
   width: 60%;
   padding-bottom: 10px;
  }

.imgdl{
  width: 20%;
 display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
 }

 .imgdl{
  text-align: center;
  width: 100%;
height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .imgdl>img{
   width: 30%;
 }

 .sec4{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   background-image: url(BAimg/ダウンロード\ \(1\).jpeg);
   background-size: cover;
 }

.illust{
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  padding: 40px;
}

.illust>dd{
  background: #FFFFFF;
  opacity: 0.85;
color:rgba(132,132,132,8);
word-break: break-all;
width: 100%;
margin: auto;
padding: 5px;

}

.illust>img{
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
}

/* ここまでイラスト(sec4) */

/* ここからsec5 */
.sec5{
  display: flex;
  justify-content: center;
  margin: 10px 50px;
}


.card{
  display: block;
  border:solid  1px black;
  margin: 1rem;
  width: 30%;
}
.card>img{
  width: 100%;
  margin: auto;
}

.card>ul{
  padding: 10px;
}

.direction,.days{
  font-size: 12px;
  color: #979797;
}
ul{
  list-style: none;
}

/* ボタンのcss */
button{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white;
  background-color:#00B4DE;
  border-radius: 0.5rem;
  letter-spacing: 0.5rem;
  border: white;
}
.button{
  text-align: center;
  padding: 5rem 0rem;
}

/* sec6はじめ */
.sec6{
  text-align: center;
  background-color: rgb(245,245,245);
  padding-bottom: 5rem;

}

.sec6>img{
  width: 100%;
  max-width: 1280px;
}


.sec7{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.person{
  /* text-align: center; */
  width: 26%;
  padding: 20px 25px;
}
.person>img{
  width: 100%;
}

.caption{
  background-color: #00B4DE;
  font-size: 14px;
  text-align: center;
  color: white;
  width: 100%;
  line-height: 30px;
}

.person>.direction{
  padding-bottom: 25px;
}
/* ここまでsec7 */

/* ここから質問 */

.qa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  padding:  30px 0;
}

.question{
  background: url(BAimg/ダウンロード.png);
  background-repeat: no-repeat;
  padding: 0px 50px 20px;
  color: #00b4de;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 2px;

}

.answer{
  background: url(BAimg/ダウンロード\ \(1\).png);
  background-repeat: no-repeat;
  padding: 0px 50px 40px;
  color: #4a4a4a;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

.sec9{
  background-color: rgb(245,245,245);
  margin-bottom: 30px;
}
.form-group{
  width: 50%;
  margin: 0 auto;
}

label{
  display: inline-block;
}

.must{
  color: white;
  background-color: #c60000;
  border-radius: 5px;
  margin-left: 10px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 12px;
  padding: 3px 5px;
}
.btn-submit{
  letter-spacing: 1rem;
  color: white;
  background: rgb(10,180,222);
  width: 30%;
  border-radius: 3px;
  border: none;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px ;
}
.submit{
  text-align: center;
}

.topreturn{
  width: 18px;
    height: 18px;
    border: 1px solid;
    border-color: #00B4DE #00B4DE transparent transparent;
    transform: rotate(-45deg);
    margin: 0 auto;
}
footer{
  border-top: 1px solid #00B4DE ;
}

.underbar{
  background-color: #00B4DE;
  height: 65px;
  text-align: right;
  color: white;
  font-size: 10px;
}
.underbar>a{
  text-decoration: none;
  color: white;
  padding-right: 20px;

}


.underbarimg{
  position: relative;
  top: 55%;
  right: 85%;
}

.last{
  height: 65px;
  text-align: center;
  font-size: 10px;
  color: #979797;
  padding-top: 30px;
  margin-bottom: 20px;
}
.last>a{
  padding-left: 15px;
  text-decoration: none;
  color: #979797;

}